// Colours 
$main-dark: #1A1D23;
$main-light: #EDEDEF;
$main-black: #000000;
$main-green: #4CC75D;

$bg-main: #FFFFFF;
$selection: #3F3F3F;

$text-header: #000000;
$text-main: #3F3F3F;
$text-secondary: rgba(26, 29, 35, 0.5);
